@mixin inline-flex {
  display: inline-flex;
}

@mixin flex {
  display: flex;
}

@mixin flex-centered {
  @include flex();
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  @include flex();
  justify-content: space-between;
}

@mixin justify-center {
  @include flex();
  justify-content: center;
}

@mixin column {
  @include flex();
  flex-direction: column;
}