.spain-right {
  background: url("../img/Rectangle_4141.png") center center no-repeat;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  @include flex-end();
  padding-bottom: 100px;
}